{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": ["babel"],
  "env": {
    "mocha": true
  },
  "rules": {
    "generator-star-spacing": 0,
    "babel/generator-star-spacing": [2, { before: false, after: true }],
    "no-console": 0,
    "no-underscore-dangle": 0  # Allows for documenting private vs public
  }
}
